*.swp
package-lock.json
__pycache__
.pytest_cache
.env
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out
node_modules

.vscode

client/.vscode
client/.settings
client/target
client/.classpath
client/.project
